@model CentiroHomeAssignment.Models.OrdersModel

@{
    //ViewData["Title"] = "Orders";
    var x = ViewData["OrderList"];
}

<h1>@ViewData["Title"]</h1>


<div>
    <table>
@*         <tr>
            <td>OrderNumber: </td>
            <td>@ViewData.Model.OrderNumber</td>
        </tr>*@
        @*<tr>
            <td>OrderLineNumber: </td>
            <td>@Model.OrderLineNumber</td>
        </tr>
        <tr>
            <td>ProductNumber: </td>
            <td>@Model.ProductNumber</td>
        </tr>
        <tr>
            <td>Quantity: </td>
            <td>@Model.Quantity</td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>Price: </td>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <td>ProductGroup: </td>
            <td>@Model.ProductGroup</td>
        </tr>
        <tr>
            <td>OrderDate: </td>
            <td>@Model.OrderDate</td>
        </tr>
        <tr>
            <td>CustomerName: </td>
            <td>@Model.CustomerName</td>
        </tr>
        <tr>
            <td>CustomerNumber: </td>
            <td>@Model.CustomerNumber</td>
        </tr>*@ 
    </table>
</div>
<div>
    @* <button onclick="">Get All</button>
    <button>OrderBy</button> *@
</div>
