@model CentiroHomeAssignment.Models.OrdersModel

@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>
@{
    List<OrdersModel> orderList = (List < OrdersModel >) ViewData["OrderList"];

    @foreach (var x in orderList)
    {
        <table>
            <tr>
                <td>Order Number: </td>
                <td>@x.OrderNumber</td>
            </tr>
            <tr>
                <td>Customer Name: </td>
                <td>@x.CustomerName</td>
            </tr>
            <tr>
                <td>Order Date: </td>
                <td>@x.OrderDate</td>
            </tr>
            <tr>
                <td>Customer Number: </td>
                <td>@x.CustomerNumber</td>
            </tr> 
         </table>

            @foreach (var y in x.OrderItems)
            {
            <table>
            <tr>
                <td>OrderLine Number: </td>
                <td>@y.OrderLineNumber.</td>
            </tr>
            <tr>
                <td>Product number: </td>
                <td>@y.ProductNumber</td>
            </tr>
            <tr>
                <td>Quantity: </td>
                <td>@y.Quantity</td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>@y.Name</td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>@y.Description</td>
            </tr>
            <tr>
                <td>Price: </td>
                <td>@y.Price</td>
            </tr>
            <tr>
                <td>Product Group: </td>
                <td>@y.ProductGroup</td>
            </tr>
            </table>
        }
    }

 }
