@model ProductOrderWebApp.Models.OrdersModel

@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<div style="width: auto; margin-top: 20px;margin-bottom: 20px;">
    <div class="row">
        <div style="display: inline; margin-left: 10px;">
            @using (Html.BeginForm( "GetByOrderNumber","Orders", FormMethod.Post))
            {
                @Html.TextBox("orderNumber")
                <input type="submit" value="Search by order number"  />
            }
        </div>
        <div style="display: inline; margin-left: 10px;">
            @using (Html.BeginForm( "GetAll","Orders", FormMethod.Post))
            {
                <input type="submit" value="Get all orders"/>
            }
        </div>
    </div>
</div>

@{
    List<OrdersModel> orderList = (List < OrdersModel >) ViewData["OrderList"];

    @foreach (var customer in orderList)
    {
        <h5 style="font-weight: bold;">Order by order number: @customer.OrderNumber</h5>
        <table style="font-weight: bold;">
            <tr>
                <td>Customer name: </td>
                <td>@customer.CustomerName</td>
            </tr>
            <tr>
                <td>Order date: </td>
                <td>@customer.OrderDate</td>
            </tr>
            <tr>
                <td>Customer number: </td>
                <td>@customer.CustomerNumber</td>
            </tr> 
         </table>

            @foreach (var orderitems in customer.OrderItems)
            {
            <table>
                <tr>
                    <td>Orderline Number: </td>
                    <td>@orderitems.OrderLineNumber.</td>
                </tr>
                <tr>
                    <td>Product number: </td>
                    <td>@orderitems.ProductNumber</td>
                </tr>
                <tr>
                    <td>Quantity: </td>
                    <td>@orderitems.Quantity</td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td>@orderitems.Name</td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td>@orderitems.Description</td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <td>@orderitems.Price</td>
                </tr>
                <tr>
                    <td>Product group: </td>
                    <td>@orderitems.ProductGroup</td>
                </tr>
            </table>
        }
    <br>
    }
 }
