@model ProductOrderWebApp.Models.OrdersModel

@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<div style="width: auto; margin-top: 20px;margin-bottom: 20px;">
    <div class="row">
        <div style="display: inline; margin-left: 10px;">
            @using (Html.BeginForm( "GetByOrderNumber","Orders", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.GetOrderByNr)
                <input type="submit" value="Search by order number"  />
            }
        </div>
        <div style="display: inline; margin-left: 10px;">
            @using (Html.BeginForm( "GetAll","Orders", FormMethod.Post))
            {
                <input type="submit" value="Get all orders"/>
            }
        </div>
    </div>
</div>

@{
    List<OrdersModel> orderList = (List < OrdersModel >) ViewData["OrderList"];

    @foreach (var x in orderList)
    {
        <h5 style="font-weight: bold;">Order by order number: @x.OrderNumber</h5>
        <table style="font-weight: bold;">
            <tr>
                <td>Customer name: </td>
                <td>@x.CustomerName</td>
            </tr>
            <tr>
                <td>Order date: </td>
                <td>@x.OrderDate</td>
            </tr>
            <tr>
                <td>Customer number: </td>
                <td>@x.CustomerNumber</td>
            </tr> 
         </table>

            @foreach (var y in x.OrderItems)
            {
            <table>
                <tr>
                    <td>Orderline Number: </td>
                    <td>@y.OrderLineNumber.</td>
                </tr>
                <tr>
                    <td>Product number: </td>
                    <td>@y.ProductNumber</td>
                </tr>
                <tr>
                    <td>Quantity: </td>
                    <td>@y.Quantity</td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td>@y.Name</td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td>@y.Description</td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <td>@y.Price</td>
                </tr>
                <tr>
                    <td>Product group: </td>
                    <td>@y.ProductGroup</td>
                </tr>
            </table>
        }
    <br>
    }
 }
